In [41]:
import pandas as pd
import numpy as np

In [42]:
import os
os.getcwd()

'C:\\Users\\SarShel\\DEC\\Classification'

In [43]:
os.chdir('C:\\Users\\SarShel\\DEC\\Classification')
os.getcwd()

'C:\\Users\\SarShel\\DEC\\Classification'

In [44]:
# Read chl dataset 
Data_chl0 = pd.read_csv('data_raw/chl.csv')

# Remove none values
Data_chl = Data_chl0.dropna()

# Display the first few rows of our DataFrame
print(Data_chl)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1       Cossayuna Lake  43.200600 -73.423401   6/3/2016  2016      6    3
2           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
3      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
4        Lake Devenoge  41.521000 -74.839401   6/4/2016  2016      6    4
...                ...        ...        ...        ...   ...    ...  ...
6070         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
6071         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
6072         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
6073         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7
6074         Long Pond  40.975102 -72.290802  9/20/2020  2020      9   20

      Chl-a(ug/l)
0           1.200
1           0.600
2           2.900
3           2.900
4           1.300
...           ...
6070        8.168
6071        9.048
6072       13.088
6073        7.778
6074       11.076

[6037 rows x 8 columns]

In [45]:
# Read phos dataset 
Data_phos0 = pd.read_csv('data_raw/phos.csv')

# Remove none values
Data_phos = Data_phos0.dropna()

# Display the first few rows of our DataFrame
Data_phos.head()
print(Data_phos)

             Lake Name          Y          X       Date    Year  Month   Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016.0    6.0   4.0
1       Cossayuna Lake  43.200600 -73.423401   6/3/2016  2016.0    6.0   3.0
2           Hatch Lake  42.834598 -75.677803   6/5/2016  2016.0    6.0   5.0
3      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016.0    6.0   4.0
4        Lake Devenoge  41.521000 -74.839401   6/4/2016  2016.0    6.0   4.0
...                ...        ...        ...        ...     ...    ...   ...
4883         Long Pond  40.975102 -72.290802  7/26/2020  2020.0    7.0  26.0
4884         Long Pond  40.975102 -72.290802   8/9/2020  2020.0    8.0   9.0
4885         Long Pond  40.975102 -72.290802  8/23/2020  2020.0    8.0  23.0
4886         Long Pond  40.975102 -72.290802   9/7/2020  2020.0    9.0   7.0
4887         Long Pond  40.975102 -72.290802  9/20/2020  2020.0    9.0  20.0

     Phos (mg/l)
0         0.0132
1         0.0092
2         0.0109
3         0.0092
4         0.0086
...          ...
4883      0.0243
4884      0.0266
4885     0.00585
4886      0.0298
4887      0.0288

[4828 rows x 8 columns]

In [46]:
# Read SDD dataset 
Data_sdd0 = pd.read_csv('data_raw/sdd.csv')

# Remove none values
Data_sdd = Data_sdd0.dropna()

# Display the first few rows of our DataFrame
Data_sdd.head()
print(Data_sdd)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
6014         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
6015         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
6016         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
6017         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
6018         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      SDD (m)
0        2.90
1        8.05
2        3.80
3        1.00
4        2.00
...       ...
6014     1.20
6015     1.40
6016     1.15
6017     1.35
6018     1.10

[6018 rows x 8 columns]

In [47]:
Merged_chl_sdd = pd.merge(Data_chl, Data_sdd, on=['Y', 'X', 'Year', 'Month', 'Day','Lake Name', 'Date'], how='inner')
Merged_chl_sdd.to_csv('data_output/Merged_chl_sdd.csv')

# displaying result
print(Merged_chl_sdd)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
5895         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
5896         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
5897         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
5898         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
5899         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      Chl-a(ug/l)  SDD (m)
0           1.200     2.90
1           2.900     8.05
2           2.900     3.80
3          16.600     1.00
4           2.000     2.00
...           ...      ...
5895        5.248     1.20
5896        8.168     1.40
5897        9.048     1.15
5898       13.088     1.35
5899        7.778     1.10

[5900 rows x 9 columns]

In [48]:
Merged_Field_Data = pd.merge(Merged_chl_sdd, Data_phos, on=['Y', 'X', 'Year', 'Month', 'Day', 'Lake Name', 'Date'], how='inner')
Merged_Field_Data.to_csv('data_output/Merged_Field_Data.csv')

# displaying result
print(Merged_Field_Data)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
4599         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
4600         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
4601         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
4602         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
4603         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      Chl-a(ug/l)  SDD (m) Phos (mg/l)
0           1.200     2.90      0.0132
1           2.900     8.05      0.0109
2           2.900     3.80      0.0092
3          16.600     1.00      0.0446
4           2.000     2.00      0.0278
...           ...      ...         ...
4599        5.248     1.20      0.0183
4600        8.168     1.40      0.0243
4601        9.048     1.15      0.0266
4602       13.088     1.35     0.00585
4603        7.778     1.10      0.0298

[4604 rows x 10 columns]