In [53]:
import pandas as pd
import numpy as np

In [54]:
import os
os.getcwd()

'C:\\Users\\SarShel\\DEC\\Classification'

In [55]:
os.chdir('C:\\Users\\SarShel\\DEC\\Classification')
os.getcwd()

'C:\\Users\\SarShel\\DEC\\Classification'

In [56]:
# Read chl dataset 
Data_chl0 = pd.read_csv('data_raw/chl.csv')

# Remove none values
Data_chl = Data_chl0.dropna()

# Display the first few rows of our DataFrame
print(Data_chl)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1       Cossayuna Lake  43.200600 -73.423401   6/3/2016  2016      6    3
2           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
3      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
4        Lake Devenoge  41.521000 -74.839401   6/4/2016  2016      6    4
...                ...        ...        ...        ...   ...    ...  ...
6070         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
6071         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
6072         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
6073         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7
6074         Long Pond  40.975102 -72.290802  9/20/2020  2020      9   20

      Chl-a(ug/l)
0           1.200
1           0.600
2           2.900
3           2.900
4           1.300
...           ...
6070        8.168
6071        9.048
6072       13.088
6073        7.778
6074       11.076

[6037 rows x 8 columns]

In [57]:
# Read phos dataset 
Data_phos0 = pd.read_csv('data_raw/phos.csv')

# Remove none values
Data_phos = Data_phos0.dropna()

# Display the first few rows of our DataFrame
Data_phos.head()
print(Data_phos)

             Lake Name          Y          X       Date    Year  Month   Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016.0    6.0   4.0
1       Cossayuna Lake  43.200600 -73.423401   6/3/2016  2016.0    6.0   3.0
2           Hatch Lake  42.834598 -75.677803   6/5/2016  2016.0    6.0   5.0
3      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016.0    6.0   4.0
4        Lake Devenoge  41.521000 -74.839401   6/4/2016  2016.0    6.0   4.0
...                ...        ...        ...        ...     ...    ...   ...
4883         Long Pond  40.975102 -72.290802  7/26/2020  2020.0    7.0  26.0
4884         Long Pond  40.975102 -72.290802   8/9/2020  2020.0    8.0   9.0
4885         Long Pond  40.975102 -72.290802  8/23/2020  2020.0    8.0  23.0
4886         Long Pond  40.975102 -72.290802   9/7/2020  2020.0    9.0   7.0
4887         Long Pond  40.975102 -72.290802  9/20/2020  2020.0    9.0  20.0

     Phos (mg/l)
0         0.0132
1         0.0092
2         0.0109
3         0.0092
4         0.0086
...          ...
4883      0.0243
4884      0.0266
4885     0.00585
4886      0.0298
4887      0.0288

[4828 rows x 8 columns]

In [58]:
# Read SDD dataset 
Data_sdd0 = pd.read_csv('data_raw/sdd.csv')

# Remove none values
Data_sdd = Data_sdd0.dropna()

# Display the first few rows of our DataFrame
Data_sdd.head()
print(Data_sdd)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
6014         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
6015         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
6016         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
6017         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
6018         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      SDD (m)
0        2.90
1        8.05
2        3.80
3        1.00
4        2.00
...       ...
6014     1.20
6015     1.40
6016     1.15
6017     1.35
6018     1.10

[6018 rows x 8 columns]

In [59]:
Merged_chl_sdd = pd.merge(Data_chl, Data_sdd, on=['Y', 'X', 'Year', 'Month', 'Day','Lake Name', 'Date'], how='inner')
Merged_chl_sdd.to_csv('data_output/Merged_chl_sdd.csv')

# displaying result
print(Merged_chl_sdd)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
5895         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
5896         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
5897         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
5898         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
5899         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      Chl-a(ug/l)  SDD (m)
0           1.200     2.90
1           2.900     8.05
2           2.900     3.80
3          16.600     1.00
4           2.000     2.00
...           ...      ...
5895        5.248     1.20
5896        8.168     1.40
5897        9.048     1.15
5898       13.088     1.35
5899        7.778     1.10

[5900 rows x 9 columns]

In [60]:
FieldData = pd.merge(Merged_chl_sdd, Data_phos, on=['Y', 'X', 'Year', 'Month', 'Day', 'Lake Name', 'Date'], how='inner')
FieldData.to_csv('data_output/FieldData.csv')

# displaying result
print(FieldData)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
4599         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
4600         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
4601         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
4602         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
4603         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      Chl-a(ug/l)  SDD (m) Phos (mg/l)
0           1.200     2.90      0.0132
1           2.900     8.05      0.0109
2           2.900     3.80      0.0092
3          16.600     1.00      0.0446
4           2.000     2.00      0.0278
...           ...      ...         ...
4599        5.248     1.20      0.0183
4600        8.168     1.40      0.0243
4601        9.048     1.15      0.0266
4602       13.088     1.35     0.00585
4603        7.778     1.10      0.0298

[4604 rows x 10 columns]

In [61]:
print(type(FieldData['Chl-a(ug/l)']))
print(type(FieldData['Phos (mg/l)']))
print(type(FieldData['SDD (m)']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [62]:
# Scoring Chl-a 
FieldData.loc[(FieldData['Chl-a(ug/l)'] > 8) , 'Chl score'] = 1
FieldData.loc[(FieldData['Chl-a(ug/l)'] >= 2) & (FieldData['Chl-a(ug/l)'] <= 8) , 'Chl score'] = 2
FieldData.loc[(FieldData['Chl-a(ug/l)'] < 2) , 'Chl score'] = 3
print(FieldData)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
4599         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
4600         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
4601         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
4602         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
4603         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      Chl-a(ug/l)  SDD (m) Phos (mg/l)  Chl score
0           1.200     2.90      0.0132        3.0
1           2.900     8.05      0.0109        2.0
2           2.900     3.80      0.0092        2.0
3          16.600     1.00      0.0446        1.0
4           2.000     2.00      0.0278        2.0
...           ...      ...         ...        ...
4599        5.248     1.20      0.0183        2.0
4600        8.168     1.40      0.0243        1.0
4601        9.048     1.15      0.0266        1.0
4602       13.088     1.35     0.00585        1.0
4603        7.778     1.10      0.0298        2.0

[4604 rows x 11 columns]

In [63]:
#Scoring SDD
FieldData.loc[(FieldData['SDD (m)'] > 5) , 'SDD score'] = 1
FieldData.loc[(FieldData['SDD (m)'] >= 2) & (FieldData['SDD (m)'] <= 5) , 'SDD score'] = 2
FieldData.loc[(FieldData['SDD (m)'] < 2) , 'SDD score'] = 3
print(FieldData)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
4599         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
4600         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
4601         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
4602         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
4603         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      Chl-a(ug/l)  SDD (m) Phos (mg/l)  Chl score  SDD score
0           1.200     2.90      0.0132        3.0        2.0
1           2.900     8.05      0.0109        2.0        1.0
2           2.900     3.80      0.0092        2.0        2.0
3          16.600     1.00      0.0446        1.0        3.0
4           2.000     2.00      0.0278        2.0        2.0
...           ...      ...         ...        ...        ...
4599        5.248     1.20      0.0183        2.0        3.0
4600        8.168     1.40      0.0243        1.0        3.0
4601        9.048     1.15      0.0266        1.0        3.0
4602       13.088     1.35     0.00585        1.0        3.0
4603        7.778     1.10      0.0298        2.0        3.0

[4604 rows x 12 columns]

In [64]:
FieldData['Phos (mg/l)'] = pd.to_numeric(FieldData['Phos (mg/l)'], errors='coerce')

#FieldData['Phos (mg/l)'] = FieldData['Phos (mg/l)'].astype(float)

#FieldData = float(FieldData['Phos (mg/l)'])

#type(FieldData['Phos (mg/l)'])

In [65]:
#Scoring Phosphorous
FieldData.loc[(FieldData['Phos (mg/l)'] > 0.02) , 'Phos score'] = 1
FieldData.loc[(FieldData['Phos (mg/l)'] >= 0.01) & (FieldData['Phos (mg/l)'] <= 0.02) , 'Phos score'] = 2
FieldData.loc[(FieldData['Phos (mg/l)'] < 0.01) , 'Phos score'] = 3
print(FieldData)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
4599         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
4600         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
4601         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
4602         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
4603         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      Chl-a(ug/l)  SDD (m)  Phos (mg/l)  Chl score  SDD score  Phos score
0           1.200     2.90      0.01320        3.0        2.0         2.0
1           2.900     8.05      0.01090        2.0        1.0         2.0
2           2.900     3.80      0.00920        2.0        2.0         3.0
3          16.600     1.00      0.04460        1.0        3.0         1.0
4           2.000     2.00      0.02780        2.0        2.0         1.0
...           ...      ...          ...        ...        ...         ...
4599        5.248     1.20      0.01830        2.0        3.0         2.0
4600        8.168     1.40      0.02430        1.0        3.0         1.0
4601        9.048     1.15      0.02660        1.0        3.0         1.0
4602       13.088     1.35      0.00585        1.0        3.0         3.0
4603        7.778     1.10      0.02980        2.0        3.0         1.0

[4604 rows x 13 columns]

In [67]:
FieldData['Sum of score'] = FieldData['Chl score'] + FieldData['SDD score'] + FieldData['Phos score']
print(FieldData)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
4599         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
4600         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
4601         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
4602         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
4603         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      Chl-a(ug/l)  SDD (m)  Phos (mg/l)  Chl score  SDD score  Phos score  \
0           1.200     2.90      0.01320        3.0        2.0         2.0
1           2.900     8.05      0.01090        2.0        1.0         2.0
2           2.900     3.80      0.00920        2.0        2.0         3.0
3          16.600     1.00      0.04460        1.0        3.0         1.0
4           2.000     2.00      0.02780        2.0        2.0         1.0
...           ...      ...          ...        ...        ...         ...
4599        5.248     1.20      0.01830        2.0        3.0         2.0
4600        8.168     1.40      0.02430        1.0        3.0         1.0
4601        9.048     1.15      0.02660        1.0        3.0         1.0
4602       13.088     1.35      0.00585        1.0        3.0         3.0
4603        7.778     1.10      0.02980        2.0        3.0         1.0

      Sum of score
0              7.0
1              5.0
2              7.0
3              5.0
4              5.0
...            ...
4599           7.0
4600           5.0
4601           5.0
4602           7.0
4603           6.0

[4604 rows x 14 columns]

In [69]:
# Trophic states of Lakes
FieldData.loc[(FieldData['Sum of score'] == 3) , 'Tropic state'] = 'Eutrophic'
FieldData.loc[(FieldData['Sum of score'] == 4) | (FieldData['Sum of score'] == 5) , 'Tropic state'] = 'Mesoeutrophic'
FieldData.loc[(FieldData['Sum of score'] == 6) , 'Tropic state'] = 'Mesotrophic'
FieldData.loc[(FieldData['Sum of score'] == 7) | (FieldData['Sum of score'] == 8), 'Tropic state'] = 'Mesoligotrophic'
FieldData.loc[(FieldData['Sum of score'] == 9) , 'Tropic state'] = 'Oligotrophic'
print(FieldData)

             Lake Name          Y          X       Date  Year  Month  Day  \
0     Little Long Pond  40.977600 -72.296204   6/4/2016  2016      6    4
1           Hatch Lake  42.834598 -75.677803   6/5/2016  2016      6    5
2      Montgomery Lake  41.525299 -74.917297   6/4/2016  2016      6    4
3            Dean Pond  42.447700 -76.003403   6/4/2016  2016      6    4
4      Chautauqua Lake  42.219885 -79.455423   6/5/2016  2016      6    5
...                ...        ...        ...        ...   ...    ...  ...
4599         Long Pond  40.975102 -72.290802  7/12/2020  2020      7   12
4600         Long Pond  40.975102 -72.290802  7/26/2020  2020      7   26
4601         Long Pond  40.975102 -72.290802   8/9/2020  2020      8    9
4602         Long Pond  40.975102 -72.290802  8/23/2020  2020      8   23
4603         Long Pond  40.975102 -72.290802   9/7/2020  2020      9    7

      Chl-a(ug/l)  SDD (m)  Phos (mg/l)  Chl score  SDD score  Phos score  \
0           1.200     2.90      0.01320        3.0        2.0         2.0
1           2.900     8.05      0.01090        2.0        1.0         2.0
2           2.900     3.80      0.00920        2.0        2.0         3.0
3          16.600     1.00      0.04460        1.0        3.0         1.0
4           2.000     2.00      0.02780        2.0        2.0         1.0
...           ...      ...          ...        ...        ...         ...
4599        5.248     1.20      0.01830        2.0        3.0         2.0
4600        8.168     1.40      0.02430        1.0        3.0         1.0
4601        9.048     1.15      0.02660        1.0        3.0         1.0
4602       13.088     1.35      0.00585        1.0        3.0         3.0
4603        7.778     1.10      0.02980        2.0        3.0         1.0

      Sum of score     Tropic state
0              7.0  Mesoligotrophic
1              5.0    Mesoeutrophic
2              7.0  Mesoligotrophic
3              5.0    Mesoeutrophic
4              5.0    Mesoeutrophic
...            ...              ...
4599           7.0  Mesoligotrophic
4600           5.0    Mesoeutrophic
4601           5.0    Mesoeutrophic
4602           7.0  Mesoligotrophic
4603           6.0      Mesotrophic

[4604 rows x 15 columns]

In [70]:
FieldData.to_csv('data_output/LakeClassification.csv')

In [71]:
Eutrophic_Lakes = FieldData.loc[(FieldData['Tropic state'] == 'Eutrophic')]
Eutrophic_Lakes.shape

(1, 15)

In [72]:
Mesoeutrophic_Lakes = FieldData.loc[(FieldData['Tropic state'] == 'Mesoeutrophic')]
Mesoeutrophic_Lakes.shape

(1342, 15)

In [73]:
Mesotrophic_Lakes = FieldData.loc[(FieldData['Tropic state'] == 'Mesotrophic')]
Mesotrophic_Lakes.shape

(1332, 15)

In [74]:
Mesoligotrophic_Lakes = FieldData.loc[(FieldData['Tropic state'] == 'Mesoligotrophic')]
Mesoligotrophic_Lakes.shape

(1918, 15)

In [75]:
Oligotrophic_Lakes = FieldData.loc[(FieldData['Tropic state'] == 'Oligotrophic')]
Oligotrophic_Lakes.shape

(7, 15)