In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
os.getcwd()

'C:\\Users\\SarShel\\DEC\\CodeSprints\\Data Processing'

In [3]:
os.chdir('C:/Users/SarShel/DEC/Data Processing/Adirondak')
os.getcwd()

'C:\\Users\\SarShel\\DEC\\Data Processing\\Adirondak'

In [6]:
# Read S2 dataset 
Data = pd.read_csv('Data.csv')

# Remove none values
#S2Data = Data1.dropna()

# Display the first few rows of our DataFrame
Data.head()
print(Data)

      Year           Waterbody   Location Strata Sampel Date Secchi (m)  \
0     2015          Otter Pond  Deep Hole    Epi   8/21/2015        1.5
1     2015          Otter Pond  Deep Hole    Epi    7/9/2015          1
2     2015      Twitchell Lake  Deep Hole    Epi   7/25/2015        2.9
3     2015      Twitchell Lake  Deep Hole    Epi   6/27/2015       2.35
4     2015           Lens Lake  Deep Hole    Epi   5/25/2015        VOB
...    ...                 ...        ...    ...         ...        ...
1492  2020           Lens Lake  Deep Hole    Epi   7/23/2020       1.23
1493  2020         Austin Pond  Deep Hole    Epi   6/27/2020        1.9
1494  2020          Lake Titus  Deep Hole    Epi   7/25/2020        4.6
1495  2020  Mountain View Lake  Deep Hole    Epi   6/27/2020        2.4
1496  2020            Eli Pond  Deep Hole    Epi   6/26/2020       3.66

      Lab pH  Lab Spec Cond (uS/cm)  Apparent Color (pt-Co) Chl-a (ug/L)  \
0       7.20                   6.74                   32.02         2.08
1       7.49                   6.61                   53.85          NaN
2       6.86                   7.31                   32.02         5.21
3       7.03                   8.79                   35.14         3.87
4       7.14                   9.86                   44.50         5.95
...      ...                    ...                     ...          ...
1492    6.43                  14.31                   66.46         6.98
1493    7.60                 139.50                   40.72         0.87
1494    6.93                  33.30                   34.29         1.53
1495    7.84                  75.50                   88.98         13.8
1496    7.22                  43.60                   27.85         3.76

      Alkalinity (mg/L) Nitrate -N (ug/L) Chloride (mg/L) TP (ug/L)  \
0                  1.35                14            0.62      5.61
1                  1.56              1.05            0.67       8.8
2                  0.97               BDL            0.41      12.4
3                  1.05              60.8            0.37      5.27
4                  1.84               BDL            0.76      10.7
...                 ...               ...             ...       ...
1492                NaN               NaN             NaN      32.7
1493                NaN               NaN             NaN      33.3
1494                NaN               NaN             NaN      36.9
1495                NaN               NaN             NaN      39.7
1496                NaN               NaN             NaN        46

      Na (mg/L)  Ca (mg/L) Source
0          0.33       0.81   ALAP
1          0.33       0.82   ALAP
2          0.41       0.90   ALAP
3          0.54       1.00   ALAP
4          0.74       1.03   ALAP
...         ...        ...    ...
1492        NaN        NaN   ALAP
1493        NaN        NaN   ALAP
1494        NaN        NaN   ALAP
1495        NaN        NaN   ALAP
1496        NaN        NaN   ALAP

[1497 rows x 17 columns]

In [8]:
# Read Field dataset 
Metadata = pd.read_csv('Metadata.csv')

# Remove none values
#FieldData = Data2.dropna()

# Display the first few rows of our DataFrame
Metadata.head()
print(Metadata)

         Waterbody Name   Latitude  Longitude        County          Town  \
0            Amber Lake  44.400339 -74.617543  St. Lawrence     Hopkinton
1          Arbutus Lake  43.987874 -74.241701         Essex       Newcomb
2            Augur Lake  44.460665 -73.492557         Essex  Chesterfield
3           Austin Pond  43.676423 -73.964335        Warren     Johnsburg
4        Big Moose Lake  43.834914 -74.835959      Herkimer          Webb
..                  ...        ...        ...           ...           ...
86  Upper St Regis Lake  44.408394 -74.285134      Franklin      Brighton
87     West Caroga Lake  43.137154 -74.495462        Fulton        Caroga
88           White Lake  43.543891 -75.152214        Oneida    Forestport
89        Windover Lake  43.632604 -74.012938        Warren     Johnsburg
90            Wolf Lake  44.020581 -74.219673         Essex       Newcomb

   Waterbody Type   Location  Waterbody_Index  Elevation  Surface Area (ha)  \
0            Lake  Deep Hole              NaN        NaN               43.9
1            Lake  Deep Hole              NaN        NaN               49.0
2            Lake  Deep Hole              NaN        NaN              152.7
3            Lake  Deep Hole              NaN        NaN               12.1
4            Lake  Deep Hole              NaN        NaN              500.0
..            ...        ...              ...        ...                ...
86           Lake  Deep Hole              NaN        NaN              291.5
87           Lake  Deep Hole              NaN        NaN              128.9
88           Lake  Deep Hole              NaN        NaN               99.1
89           Lake  Deep Hole              NaN        NaN               35.1
90           Lake  Deep Hole              NaN        NaN               57.3

    Shoreline Length (km)  Watershed Area (ha)  Depth Max (m)
0                     4.1                301.1            2.1
1                     5.2                349.9            8.4
2                    11.7               3141.4            6.4
3                     2.7                133.6            NaN
4                    30.7               9638.8           21.3
..                    ...                  ...            ...
86                   19.9               1800.5           20.1
87                    5.0               1481.7           21.3
88                    9.8                346.5           22.9
89                    4.3               2021.0            3.1
90                    6.7                650.3            NaN

[91 rows x 13 columns]

In [10]:
# Using merge function by setting how='inner'
FieldData = pd.merge(Data, Metadata, on=['Waterbody', 'Location'], how='inner')
MergedData.to_csv('FieldData.csv')
  
# displaying result
print(MergedData)

KeyError: 'Waterbody'